[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://gitlab.inria.fr/bkerbl/simple-knn.git
[submodule "submodules/depth-diff-gaussian-rasterization"]
	path = submodules/depth-diff-gaussian-rasterization
	url = https://github.com/ingra14m/depth-diff-gaussian-rasterization
[submodule "submodules/flow-diff-gaussian-rasterization"]
	path = submodules/flow-diff-gaussian-rasterization
	url = https://github.com/Zerg-Overmind/diff-gaussian-rasterization
[submodule "submodules/diff-gaussian-rasterization-w-pose"]
	path = submodules/diff-gaussian-rasterization-w-pose
	url = https://github.com/rmurai0610/diff-gaussian-rasterization-w-pose
