[submodule "submodules/flow-diff-gaussian-rasterization"]
	path = submodules/flow-diff-gaussian-rasterization
	url = https://github.com/Zerg-Overmind/diff-gaussian-rasterization.git
[submodule "submodules/diff-gaussian-rasterization-w-pose"]
	path = submodules/diff-gaussian-rasterization-w-pose
	url = https://github.com/rmurai0610/diff-gaussian-rasterization-w-pose.git
